.chat__body__messages{ 'data-message-id': message.id }
  .chat__body__messages__header
    .chat__body__messages__header__name
      = message.user.name
    .chat__body__messages__header__date
      = message.created_at.to_s(:default)

  .chat__body__messages__message
  - if message.content.present?
    %p.chat__body__messages__message__content
      = message.content
  = image_tag message.image.url, class: 'chat__body__messages__message__image' if message.image.present?
