.wrapper
  .sidebar
    = render "sidebar"

  .chat
    .chat__header

      .chat__header.clearfix
        .chat__header__group test
        %a.chat__header__edit_btn Edit

        .chat__header__users Members : yurina

    .chat__body
      = render "chat__body"

    .chat__form
      %form
        %input.text{placeholder: 'type a message'}
          = fa_icon 'picture-o', class: 'icon'
        %button.submit{type: 'submit'} Send

