$user_fontcolor: #FFFFFF;
$user_darkgrey: #253141;
$user_gray: #2f3e51;

$chat_border: #eeeeee;
$chat_grouptitle: #333333;
$chat_users: #999999;
$chat_editbtn: #67c5ff;

$chat_body_bkg: #AAAAAA;
$chat_body: #434A54;
$chat_body_time: #999999;

$color-blue: #38AEF0;
$form_background: #CCCCCC;
